<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/styles.css"/>

    <title>Insert Products</title>
    <!-- --------------------------------------------------------------- -->
    <% if(typeof user === 'undefined'){ %>
        <script>
            alert("Please login to access this page.");
            window.location.replace('/login');
        </script>
    
    else if(user.role !== 'admin'){ %>
        <script>
            alert("You must be an admin to access this page.");
            window.location.replace('/storefront'); // changed from index to storefront
        </script>
    <% } %>
    <!-- --------------------------------------------------------------- -->
  </head>
  
      
    <body>
        <% include ./partials/banner %>

        <center>  
            <h1 class="container">Insert A New Product </h1>            
            <form style="width: 70%;" name="addform" action="/addProducts" method="post" onsubmit="return validateAddForm()" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="category" class="col-sm-2 col-form-label">Product Category</label>
                    <div class="col-sm-10">
                    <input type="text" name="category" class="form-control" id="category" placeholder="Meat">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Product Name</label>
                    <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Beef">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="price" class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-10">
                    <input type="text" name="price" class="form-control" id="price" placeholder="99.99">
                    </div>
                </div>

                <div class="form-group">
                    <!-- <label for="fileuploadbtn">Choose file</label> -->
                    <img id="image" class="img-thumbnail product-thumbnail" height="100">
                    <input style="width:250px" type="file" name="imageUpload" class="form-control-file" id="fileuploadbtn" onchange="handleFileSelect(event)">
                </div>  
                <div class="form-group row" style="width: 100px">
                        <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary insert-btn">Insert</button>
                        </div>
                </div>            
            </form>
            <br><br>
            
            <div class="button-conatiner">
                    <span class="button">
                        <a href="/">Go to Project Front Page</a>
                    </span>
                    <span class="button">
                        <a href="/adminPage">Return to Admin Home Page</a>
                    </span>
            </div>
        </center>
        <!-- <a href="/adminPage">Return to Admin Home Page</a>
        <a href="/">Go to Project Front Page</a> -->
         
  </body>
  
  <script>
        function validateAddForm() {
            // return true; // CHANGE IT LATER
            const category = document.forms["addform"]["category"].value;
            if (category == "") {
                alert("Title cannot be empty");
                return false;
            }
            const name = document.forms["addform"]["name"].value;
            if (name == "") {
                alert("Name cannot be empty");
                return false;
            }
            const price = document.forms["addform"]["price"].value;
            if (price == "") {
                alert("Price cannot be empty");
                return false;
            }
            for (const char of price) {
                if (!(('0' <= char && char <= '9') || char === ".")) {
                    alert("Price must have digits only");
                    return false;
                }
            }
            return true;
        }
        // Preview uploaded image before submitting
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object

        // Get first element of the FileList and render image file as a thumbnail.
        f = files[0];

        // Only process image files.
        if (!f.type.match('image.*')) {
            return;
        }

        var reader = new FileReader();

        // Closure to capture the file information.
        reader.onload = (function(theFile) {
            return function(e) {
                // Render thumbnail.
                img_element = document.getElementById("image");
                img_element.src = e.target.result;
                img_element.style.display = 'initial';
            };
        })(f);

        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
    }           
    </script>
</html>