<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/header %>
    <link rel="stylesheet" href="/style/styles.css"/>
    <title>Home Page</title>
  </head>
    <body>
      <% include ./partials/banner %>
      <!-- <h2><%= console.log('typeof user: ' + typeof user); %></h2> -->
      <!-- <div style="margin-top: 100px;">
        <span class="button">
          <a href="/storefront">Store Front</a>
        </span>
        <span class="button" style="margin-left: 20px;">
          <a href="/adminPage">Admin Page</a>
        </span>
      </div> -->
  </body>
</html>