<!DOCTYPE html>
<html lang="en">

<head>    
    <% include ./partials/header %>
    <title>Login</title>
    <link rel="stylesheet" href="/style/styles.css"/>
</head>
<body>
    <% include ./partials/banner %>
    
    <div class="container">
        <h1 class="heading">Login</h1>

            <% if (typeof messagesucces !== 'undefined' && messagesuccess.length > 0) { %>
                <div class="alert alert-success" role="alert">
                <%= messagesuccess %>
                </div>
            <% } %>
            <% if (typeof messageerror !== 'undefined' && messageerror.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                Login Error: <%= messageerror %>
                </div>
            <% } %> 
        
                <center>
                    <form class="login-form" name="loginform" action="/login" method="post" onsubmit="return validateForm()">
                        <div class="form-group">
                            <label for="email">Email address</label><br>
                            <input type="email" name = "email" class="form-control" id="email" aria-describedby="emailHelp">
                        </div>
                        
                        <div class="form-group">
                            <label for="password">Password</label><br>
                            <input type="password" name="password" class="form-control" id="password">
                        </div>
                        
                        <br>
                        <button type="submit" class="btn btn-primary">Sign in</button>

                        <div class="account-msg-container">
                            <span class="account-msg">Don't have an account?</span>
                        </div>
                        
                        <div class="register-link"><a id="register-link" href="/signup">Register</a></div>
                        
                    </form>
                </center>
            </div> <!-- container -->
        

<span class="footer"><% include ./partials/footer %></span>
<% include ./partials/scripts %>
</body>
<script>
    function validateForm() {
            const email = document.forms["loginform"]["email"].value;
            if (email == "") {
                alert("Email not entered");
                return false;
            }
            const password = document.forms["loginform"]["password"].value;
            if (password == "") {
                alert("Password not entered");
                return false;
            }
            return true;
        }
</script>
</html>