<div class="banner-container">
    <div class="store-title-container">
        <a href="/storefront"><img src="/img/logo.png" class="store-title"/></a>
    </div>

    <div class="banner-right">
        <% if(typeof user === 'undefined'){ %>
            <a class="login-a" href="/login"><span class="login-link">Login</span></a>
        <%
        } else{
        %>
            <a class="login-a" href="#"><span id="login-link" class="login-link"><%= user.email %></span></a>
            <div id="account-menu-container" class="account-menu-container">
                <ul class="account-menu">
                    <!-- <li>My Account</li> -->
                    <li><a href="/logout" onclick="if(confirm('Are you sure you want to logout? Items in your cart will be lost.')){return true;}else{return false;}">Logout</a></li>
                    <% if(user.role === 'admin'){ %>
                        <li><a href="/adminPage">Admin Page</a></li>
                    <% } %>
                </ul>
            </div>
        <%
        }%>

        <a href="../add"><img class="cart-link" src="/img/ic_shopping_cart_black_24dp/web/big-cart-black.png" height="30px"/></a>
    </div>
</div>